---
import { Image } from "astro:assets";
import logo from "../assets/beaba-logotipo-roxo.png";
import Email from "../assets/email.svg";
import Instagram from "../assets/instagram.svg";
---

<div class="flex flex-col justify-center items-center h-screen gap-4">
  <Image src={logo} alt="logo beabá encantos" class="w-48 h-auto mb-4 shadow" />
  <h1 class="text-2xl font-bold">Em breve nosso site será lançado</h1>
  <h2 class="text-lg uppercase">
    Enquanto isso, acompanhe o nosso instagram ou entre em contato por email
  </h2>

  <div>
    <a
      href="https://www.instagram.com/beabaencantos/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-white mr-4"
    >
      <Instagram class="inline" />
      <span class="underline">Instagram</span>
    </a>
    <a href="mailto:contato@beabaencantos.com.br" class="text-white">
      <Email class="inline" />
      <span class="underline">Contato</span></a
    >
  </div>
</div>
